@media only screen and (max-width:470px) {

    nav{
        height: auto;
    }
    .sectwo {
        display: block;
    }


.article{
    width: 60%;
    margin-left: auto;
    margin-right: auto
    
}

.imgg{
    width:75%;
    height: 150px;
}

.slidedown{
    height: 250px;
}

.text{
   margin: 4px;
}

.divImg{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 3px;
}

.mainDiv{
    display: flex;
    flex-wrap: wrap;
}
.firstUl{
    width: 100%
}


.li {
    width: 100%;
}

.slidedown {
    margin-top: 244px;
}

.mainDiv {
    margin-top: 244px;
}


}