@media only screen and (max-width:700px) {

    nav{
        height: auto;
    }
    .slidedown{
        height: 350px;
    }

    .log{
        margin-left: 0px;
    }

    .li {
        width: 82px;
    }

}